footer {
  background-color: #c895a1;
  height: 5vw;
  //margin-top: -20px;
  color: ivory;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  padding: 10px;
  margin: 15px;
  float: right;
}

.fa-instagram {
  background: rgb(248, 83, 83);
  color: white;
  padding: 10px;
  margin: 15px;
  float: right;
}

.fa-twitter {
  background: #55acee;
  color: white;
  padding: 10px;
  margin: 15px;
  float: right;
}

#footerText {
  float: left;
  margin: 20px;
}