@media (max-width: 600px) {
  // .textArticle {
  //   font-size: 15px;
  // }
  li {
    font-size: 14px;
  }
  .imageBox {
    width: 30vw;
  }
  .article1 {
    height: 15vh;
  }
  .footerText {
    // font-size: 14px;
    margin-top: 30px;
  }
  #text {
    // font-size: 12px;
    margin-top: 20px;
    width: 85%;
  }
}
@media (max-width: 768px) {
  .articleWrapper {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
  }
  ul {
    flex-direction: column;
    justify-content: center;
    margin-left: -20px; //is this the only way?????
  }
  li {
    margin-top: -10px; //wow I thought this is over!!
  }
  nav {
    flex-direction: column;
  }
  h1 {
    font-size: 30px;
  }
  .textArticle {
    font-size: 17px;
  }
  .allSmallWrappers {
    display: inline-grid;
    // flex-wrap: wrap-reverse; //for when the sidebar is on page
    //justify-content: space-evenly;
    // flex-direction: column;
  }
  #postsButton {
    font-size: 12px;
  }
  .blogImage {
    width: 36vw;
    height: 34vw;
  }

  .imageOverlay {
    width: 250px;
  }
  .closeCursor {
    font-size: 40px;
  }
  .prev,
  .next {
    font-size: 30px;
  }
  .overlayText {
    font-size: 14px;
    width: 90%;
    margin-left: -20px;
  }
  .moreBtn {
    font-size: 10px;
  }
  // .divSidebar {
  //   display: flex;
  //   flex-direction: row;
  //   //flex-wrap: wrap;
  // }
  p {
    margin: 10px;
  }
  #text {
    font-size: 17px;
  }
  //without "body" the media-queries gets overwritten
  body #aboutMeText {
    font-size: 8vw;
    width: 80%;
    color: black;
    position: relative;
  }
  body #contactBtn {
    font-size: 10vw;
    position: relative;
  }
  body #bigPicture {
    opacity: 1;
  }
  #textSection {
    font-size: 12px;
  }
  .inputForm {
    width: 80%;
    margin-top: 5px;
    border: 2px solid;
  }

  body .fa {
    font-size: 10px;
    margin: 5px;
  }
  footer {
    height: 40px;
  }
  #footerText {
    font-size: 15px;
  }
}
// @media (min-width: 769px) {
//   #aboutMeText {
// //     font-size: 20px;
//     top: 17%;
//     width: 50%;
//     //color: ivory;
//   }
//   body #contactBtn {
//     font-size: 30px;
//     top: 45%;
//   }
//   body #bigPicture {
//     opacity: 0.8;
//   }
// }
// @media (min-width: 1024px) {
//   body #aboutMeText {
//     font-size: 20px;
//     top: 35%;
//     width: 60%;
//     color: ivory;
//   }
//   body #contactBtn {
//     font-size: 25px;
//     top: 90%;
//   }
//   @media (min-width: 1280px) {
//     body #aboutMeText {
//       top: 40%;
//       left: 15%;
//       width: 38%;
//     }
//     body #contactBtn {
//       top: 90%;
//       left: 15%;
//     }
//   }
