/*.sidebar {
  background-color: burlywood;
}*/
.allPosts {
  background-color: bisque;
  width: 27vw;
  height: 25vw;
  // display: flex;
  // justify-content: flex-start;
  //width: 100%;
  //height: 25vw;
  // display: inline-block; /*horizontal layout, display behaviour, inline-block: allows to set a width and height*/
  // width: 220px; /*bredd av article-element*/
  // margin: 5px; /*utrymme mellan article-element*/
  // margin-top: -60px;
}
.blogImage {
  width: 27vw;
  height: 25vw;
  border-radius: 25px;
}
.blogImage:hover {
  opacity: 0.2; /*bilden blir mer transparent när man skrollar över*/
}
.smallPostWrapper {
  margin: 1vw;
  //width: 50%;
  //display: inline;
  //float: left;
  //flex-direction: column;
  //flex-wrap: wrap;
}
.allSmallWrappers {
  display: flex;
  flex-direction: row;
  //display: inline;
  // display: flex;
  // //align-items: flex-start;
  // justify-content: space-around;
}
.sidebar {
  //width: 40%;
  margin: 1vw;
  margin-right: 1vw;
}
/*main {
  display: flex;
  justify-content: flex-start;
}*/
