/*nav {
  display: flex;
  background-color: lightcoral;
  flex-direction: row;

  //display: inline-block;
}
ul {
    display: inline-block; 
}
.navList {
  display: flex;
}
#logo {
  margin: 20px;
}
ul {
  list-style: none;
  display: inline-block; //makes it so the listitems are in onw row;
}*/
nav {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 20px;
}
#subscribeButton {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
li {
  margin: 20px;
  font-size: 25px;
}
